/* --- Reset Básico --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Configurações Gerais --- */
body {
    font-family: Arial, sans-serif;
    background: #f5f3f3;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

/* --- Cabeçalho --- */
.topo {
    background: #003366;
    color: #fff;
    text-align: center;
    padding: 25px 15px;
}

.menu ul {
    list-style: none;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.menu a {
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
}

.menu a:hover {
    background: #0055aa;
}

/* --- Banner --- */
.banner img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

/* --- Seções --- */
.secao {
    background: #fff;
    margin: 30px auto;
    padding: 25px;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 0 8px #ccc;
}

.secao ul {
    padding-left: 20px;
    margin: 10px 0;
    text-decoration: none;
    list-style: none;
}

.secao li {
    text-decoration: none;
}

.botao {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 18px;
    background: #003366;
    color: #fff;
    border-radius: 5px;
}

.botao:hover {
    background: #0055aa;
}

/* --- Galeria de Imagens --- */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    height: 290px;
}

.galeria img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 8px #bbb;
    border: solid 1px black;
}

.galeria img:hover {
    transform: scale(1.05);
}

/* --- Vídeos Responsivos --- */
.videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.video {
    top: 0;
    width: 100%;
    height: 500px;
}


/* --- Rodapé --- */
.rodape {
    background: #003366;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* ============================
       RESPONSIVIDADE EXTRA
===============================*/

/* Smartphones pequenos */
@media (max-width: 480px) {
    h1 {
        font-size: 1.4rem;
    }

    .subtitulo {
        font-size: 0.9rem;
    }

    .menu a {
        padding: 6px 10px;
        font-size: 0.9rem;
    }

    .secao {
        padding: 18px;
    }

    .galeria img {
        height: 250px;
    }

    .galeria {
        height: 830px;
    }

    .class-container iframe {
        width: 330px;
        height: 200px;
    }
}

/* Tablets */
@media (max-width: 768px) {
    .secao {
        margin: 20px 15px;
    }
}
